@model IEnumerable<AirTransport.Models.Layover>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExitTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDestinationAirportNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFlightNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOriginAirportNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDestinationAirportNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFlightNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOriginAirportNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
